$color1: #FFF;
$color1-d: darken($color1, 10%);
$color1-l: lighten($color1, 10%);

$color2: #212121;
$color2-d: darken($color2, 10%);
$color2-l: lighten($color2, 10%);

$color3: #B71C1C;
$color3-d: darken($color3, 10%);
$color3-l: lighten($color3, 10%);

$color4: #FFEB3B;
$color4-d: darken($color4, 10%);
$color4-l: lighten($color4, 10%);

$color5: #455A64;
$color5-d: darken($color5, 20%);
$color5-l: lighten($color5, 10%);

$color6: #2196F3;
$color6-d: darken($color6, 10%);
$color6-l: lighten($color6, 10%);

$c_primary: $color1;
$c_secondary: $color2;
$c_tetriary: $color5-l;



$c_body-color: lighten($color2, 20%);
$c_body-background: $color1;
$c_link: $color6;
$c_link-hover: $color3-l;
$c_headers: $color2-l;
$c_hr: $color2;

$c_field: $color2-l;
$c_field-text: $color4;
$c_field-border: $color2;

$c_field-hover: $color1;
$c_field-text-hover: $color6;
$c_field-border-hover: $color3;

$c_alt-bg: $color5-d;

/* Buttons */
$c_button: $color6;
$c_button-text: $color2;
$c_button-border: $color6-d;

$c_button-hover: $color6-d;
$c_button-text-hover: $color1;
$c_button-border-hover: $color6-l;

$c_button-alt: $color2;
$c_button-alt-text: $color5;
$c_button-alt-border: $color2-d;

$c_button-alt-hover: $color2-d;
$c_button-alt-text-hover: $color5-l;
$c_button-alt-border-hover: $color2-l;
