$color1: #F5F5F5;
$color1-d: darken($color1, 10%);
$color1-l: lighten($color1, 10%);

$color2: #212121;
$color2-d: darken($color2, 10%);
$color2-l: lighten($color2, 10%);

$color3: #0277BD;
$color3-d: darken($color3, 10%);
$color3-l: lighten($color3, 10%);

$color4: #FFEB3B;
$color4-d: darken($color4, 10%);
$color4-l: lighten($color4, 10%);

$color5: #424242;
$color5-d: darken($color5, 10%);
$color5-l: lighten($color5, 10%);

$c_primary: $color1;
$c_secondary: $color2-d;
$c_tetriary: $color3;


$c_body-color: $color1;
$c_body-background: $color2-d;

$c_alt-text: $color1-d;
$c_alt-bg: $color2;












$c_link: $color4;
$c_link-hover: $color3;
$c_headers: $color1;
$c_hr: $color2;

$c_field: $color2-l;
$c_field-text: $color1;
$c_field-border: $color2;

$c_field-hover: $color1-d;
$c_field-text-hover: $color2;
$c_field-border-hover: $color5-l;

/* Buttons */
$c_button: $color5;
$c_button-text: $color1;
$c_button-border: $color5-l;

$c_button-hover: $color5;
$c_button-text-hover: $color3;
$c_button-border-hover: $color5-l;

$c_button-alt: $color2;
$c_button-alt-text: $color5;
$c_button-alt-border: $color2-d;

$c_button-alt-hover: $color2-d;
$c_button-alt-text-hover: $color5-l;
$c_button-alt-border-hover: $color2-l;
