.contact-sidebar-estimate {
  background: $c_alt-bg;
  text-align: center;
  padding: 2em 1em;
  margin: 50px 0;

  .button {
    margin-top: 15px;
  }
}

@media screen and (max-width: $S) {
  .page-side ul {
    margin: 0;
  }
}
