.estimate-form {
  h4 {
    margin: 0;
  }
}

.estimate-section,
.estimate-siding,
.estimate-sofit {
  width: 45%;
  float: left;
  margin-right: 5%;

}

.estimate-siding,
.estimate-sofit {
    input {
      width: 50px;
      margin-bottom: 5px;
    }
}

.estimate-section {
  textarea {
    height: 255px;
  }
}

@media screen and (max-width: $S) {
  .estimate-section,
  .estimate-siding,
  .estimate-sofit {
    width: 100%;
    margin: 0;
  }
}
