.site-footer {
  background-color: $c_alt-bg;
  color: $c_alt_text;
  padding: 2em 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
  }

  li {
    padding-right: 1em;

      a {
        text-decoration: none;
        color: $c_alt-text;
        font-family: $font__alt;

        &:hover {
          color: $c_link-hover;
        }
    }
  }
}

.footer-widget {
  width: 33.3333%;
  float: left;

  .fa {
    margin-right: 15px;
  }

  .list-title {
    font-family: $font__alt;
    @include font-size(1.4);
    font-weight: 700;
  }
}
