.site-footer {
  background-color: $c_alt-bg;
  color: $c_alt_text;
  padding: 2em 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
  }

  li {
    padding-right: 1em;

      a {
        text-decoration: none;
        color: $c_alt-text;
        font-family: $font__alt;

        &:hover {
          color: $c_link-hover;
        }
    }
  }

  .sub-menu {
    display: none;
  }
}

.footer-widget {
  width: 33.3333%;
  float: left;
  @media screen and (max-width: $M) {
    width: 50%;
  }
  @media screen and (max-width: $S) {
    width: 100%;
    margin: 1em 0;
  }

  .fa {
    margin-right: 15px;
  }
}

.list-title {
  font-family: $font__alt;
  @include font-size(1.4);
  font-weight: 700;
  text-transform: uppercase;
}

.footer-links a {
  font-family: $font__main !important;
  line-height: $font__line-height-body;
}
