.gallery-figure {
  width: 30.3333%;
  float: left;
  position: relative;
  margin-right: 3%;

  img {
    width: 100%;
  }
}

.gallery-figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba($c_alt-bg, 0.9);
  text-align: center;

  h3 {
    margin: 0;
  }

}
