.gallery-figure {
  width: 30.3333%;
  float: left;
  position: relative;
  margin-right: 3%;
  margin-top: 2em;
  margin-bottom: 2em;

  img {
    width: 100%;
  }

  .fa {
    color: $c_primary;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 45%;
    display: none;
  }
}

.gallery-figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba($c_alt-bg, 0.9);
  text-align: center;

  h3 {
    margin: 0;
  }

}

.gallery-album:hover .gallery-figure {
  img {
    opacity: 0.5;
  }

  .fa {
    display: block;
  }
}


@media screen and (max-width: $S) {
  .gallery-figure {
    width: 100%;
    margin: 1em 0;
  }
}
