.main-navigation {
  margin-top: 2.2em;

  a {
    color: $c_headers;
    font-family: $font__alt;
    @include font-size(1.4);

    &:hover {
      color: $c_link-hover;
    }
  }
}

.site-branding {
  float: left;
}
