.wrapper,
.site-header {
  width: $L;
  margin: 0 auto;

  @media screen and (max-width: $L) {
    width: 100%;
  }
  @media screen and (max-width: $S) {
    margin: 0 10%;
  }
}

.site-main {
  padding-top: 50px;
}

.wp-caption-text {
  background-color: $c_alt-bg;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
