.wrapper,
.site-header {
  width: $L;
  margin: 0 auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.logo {
  height: 185px;
  width: auto;
  padding: 5px;
  margin-bottom: -50px;
  z-index: 10;
  position: relative;
  background: $c_body-background;
  padding: 25px 15px 25px 11px;
  border-radius: 50%;
}
