.page--title {
  padding-top: 50px;

  @media screen and (max-width: $S) {
    padding: 0.5em 0;
    text-align: center;
  }
}

.entry-title {
  text-align: center;
}


.page--title {
  background-color: $c_alt-bg;
}

//Sidebar Page
.page-main {
  width: 60%;
  float: left;
}

.page-side {
  width: 35%;
  float: right;

  ul {
    list-style: none;
  }

  .fa {
    margin-right: 15px;
  }

  .list-title {
    padding-top: 1em;
  }
}

@media screen and (max-width: $S) {
  .page-main,
  .page-side {
    width: 100%;
  }
}

//Image caption
.wp-caption-text {
  background-color: $c_alt-bg;
  padding: 0.5em;
}

@media screen and (max-width: $S) {
  .wp-caption {
    margin: 0 auto;
    width: 100%;
  }
}
